.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header_container_item {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}



